/*--
Author: layouts
Author URL: http://layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
}
ul li,ol li{
	font-size:14px;
}
p{
	margin:0;
}
h1,h2,h3,h4,h5,h6,a{
	font-family:'Ubuntu', sans-serif !important;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*-- header --*/
.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	left:0;
	z-index:9999;
}
span.glyphicon.glyphicon-shopping-cart.my-cart-icon.my-cart-icon-affix {
	position: relative !important;
}
.btn-danger {
    color: #fff;
    background-color: #FA1818;
    border-color: #FA1818;
}
.modal-dialog {
    width: 850px;
	margin:75px auto 30px;
}
.snipcart-thumb a {
    display: block;
    text-align: center;
}
.my-cart-icon-affix i {
    background: #84C639 !important;
}
.agile_top_brand_left_grid {
    position: relative;
    display: block;
}
i.badge.badge-notify.my-cart-badge {
    font-style: normal;
    background: #FA1818;
    font-size: 14px;
    position: absolute;
    top: -10px;
    right:-22px;
}
.product_list_header span {
    font-size: 1em;
    color: #fff;
	top: 1em;
}
input[type="submit"],#PPMiniCart .minicart-submit,.ls_vegetables ul li a,input[type="reset"],.agileinfo_mail_grid_left ul li a,.events_bottom_left2 ul li a,.ls_service_grids1_right a,ul.agileits_social_icons li a,.l_banner_nav_right_banner_pet a,.ls_l_banner_nav_right_grid_head_grid ul li a,.products-breadcrumb ul li a,.footer_grid ul li a,.l_fresh_vegetables_grid ul li a,.wthree_footer_copy p a,.agile_top_brand_left_grid1 .button,.ls_logo_products_left1 ul.special_items li a,.ls_logo_products_left1 ul.phone_email li a{
	transition: .5s ease-in;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	-ms-transition: .5s ease-in;
}
.agileits_header{
	background:#212121;
}
.l_offers{
	float:left;
}
.l_offers a{
	font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding: .5em 3em;
    background: #84C639;
	display:block;
}
.l_search{
	float: left;
    width: 27%;
    margin:.1em 0 0em 10em;
}
.l_search input[type="text"]{
	outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    width: 85%;
    background: #fff;
    border: 1px solid #999;
    float: left;
}
.l_search input[type="submit"]{
	outline: none;
    padding: 10px 0 9px;
    width: 15%;
    border: 1px solid;
    position: relative;
    background: url(../images/img-sp.png) no-repeat 14px 5px #FA1818;
}
.l_search input[type="submit"]:hover{
    background: url(../images/img-sp.png) no-repeat 14px 5px #84C639;
}
.l_header_right{
	float: left;
    padding-left: 10em;
}
.l_header_right ul li {
    list-style-type: none;
}
.l_header_right1{
	float:right;
}
.l_header_right1 h2 a{
	font-size: .74em;
    color: #fff;
    padding: .5em 1.5em;
    background: #FA1818;
    display: block;
	text-decoration:none;
}
ul.dropdown-menu.drp-mnu {
    right: 0;
    min-width: 130px;
    text-align: center;
    padding: 1.5em 0;
    margin: 0;
    left:auto;
}
ul.dropdown-menu.drp-mnu li:first-child{
	margin-bottom: .5em;
}
ul.dropdown-menu.drp-mnu li a {
    color: #999;
}
ul.dropdown-menu.drp-mnu li a i {
    padding-left: 1em;
}
.logo_products{
	padding:4em 0 1em;
}
.ls_logo_products_left{
	float:left;
	margin-right: 7em;
}
.ls_logo_products_left h1 a{
	font-size: 1.5em;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: url(../images/img-sp.png) no-repeat 54px 6px;
    line-height: 1;
    height: 97px;
}
.profile_details_drop a {
    display: block;
	padding-top:1em;
	font-size:1em;
	color:#fff;
}
.ls_logo_products_left h1 a span {
    font-size: .3em;
    display: block;
    color: #FA1818;
}
.ls_logo_products_left1{
	float: left;
	margin-top: 2.3em;
}
.ls_logo_products_left1 ul.phone_email li{
	display:inline-block;
	color:#212121;
	font-family: 'Ubuntu', sans-serif;
/*-- layouts --*/
	margin-right:2em;
}
.ls_logo_products_left1 ul.phone_email li a{
	color:#212121;
	text-decoration:none;
}
.ls_logo_products_left1 ul.phone_email li i{
	padding-right:1em;
}
.ls_logo_products_left1 ul.special_items li{
	display:inline-block;
}
.ls_logo_products_left1 ul.special_items li a{
	color:#212121;
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
}
.ls_logo_products_left1 ul.special_items li a:hover,.ls_logo_products_left1 ul.phone_email li a:hover{
	color:#FA1818;
}
.ls_logo_products_left1 ul.special_items li i{
	padding:0 2em;
}
.ls_logo_products_left1:nth-child(3) {
    margin-left: 6em;
}
.sub{
    float:left;
}
.sub i {
    color: #84C639;
    font-size: 1em;
    padding: .5em .5em 0 0em;
}
.sub_jfk{
	float:right;
}
/*-- //header --*/
/*-- banner --*/
.navbar-collapse {
    padding: 0;
    box-shadow: none;
}
.navbar {
    margin-bottom: 0;
    border: none;
}
.l_banner_nav_left{
	float: left;
/*-- agileits --*/
    width: 20%;
    background: #f5f5f5;
}
.wthree_banner_bottom_left_grid_sub{
	float: left;
    width: 20%;
}
.wthree_banner_bottom_left_grid_sub1{
	float:right;
	width:80%;
}
.l_banner_nav_right{
	float:right;
	width:80%;
}
.navbar-nav > li {
    float: none;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #84C639;
    color: #fff;
}
.navbar-nav {
    float: none;
    margin: 0;
	border-top: 1px solid #B58F62;
}
.navbar-nav > li > a {
    color: #212121;
    padding:10px 0px 10px 40px;
    border-bottom: 1px dotted #CDCDCD;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #84C639;
    border: none;
}
.ls_vegetables_menu {
    left: 13%;
    border: none;
    padding: 1em;
}
.ls_vegetables ul li {
    list-style-type: none;
}
.ls_vegetables ul li:first-child {
    margin-bottom:.5em;
}
.ls_vegetables ul li a {
    color: #212121;
/*-- layouts --*/
    display: block;
    text-decoration: none;
}
.ls_vegetables ul li a:hover{
	color:#FA1818;
}
.l_banner_nav_right_banner1,.l_banner_nav_right_banner,.l_banner_nav_right_banner2{
	min-height:500px;
	text-align: right;
	padding:10em 17em 0 0;
	margin-bottom: 5em;
}
.l_banner_nav_right_banner{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner1{
	background:url(../images/2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner2{
	background:url(../images/3.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner h3,.l_banner_nav_right_banner1 h3,.l_banner_nav_right_banner2 h3{
	font-size: 2em;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
	margin-bottom: 1em;
}
.l_banner_nav_right_banner h3 span,.l_banner_nav_right_banner1 h3 span{
	display:block;
	font-weight:600;
	line-height:2em;
}
.l_banner_nav_right_banner2 h3 i{
/*-- agileits --*/
	display:block;
	font-weight:600;
	line-height:2em;
	color:#FA1818;
}
.more a{
	padding:10px 30px;
	background:#84C639;
	font-size:14px;
	text-transform:uppercase;
	font-weight:600;
	text-decoration:none;
	color:#fff;
	position:relative;
	display:block;
}
.more {
    width: 20%;
    text-align: center;
    margin-left:59em;
}
/* Saqui */
.button--saqui {
	overflow: hidden;
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.button--saqui.button--inverted {
	background: #fff;
	color: #37474f;
}
.button--saqui::after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 9px 30px;
    color: #FFFFFF;
	-webkit-transform-origin: -25% 50%;
	transform-origin: -25% 50%;
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
	transform: rotate3d(0, 0, 1, 45deg);
	-webkit-transition: -webkit-transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}
.button--saqui.button--inverted::after {
	color: #fff;
}
.button--saqui:hover::after,
.button--saqui:hover {
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.button--saqui:hover {
	background-color: #FA1818;
	color: #656060;
}
.button--saqui.button--inverted:hover {
	background-color: #3f51b5;
	color: #3f51b5;
}
.button--saqui:hover::after {
	-webkit-transform: rotate3d(0, 0, 1, 0deg);
	transform: rotate3d(0, 0, 1, 0deg);
}
/*-- //banner --*/
/*-- banner_bottom --*/
.banner_bottom,.top-brands,.fresh-vegetables,.l_banner_nav_right_banner3_btm,.testimonials,.team,.newsletter-top-serv-btm,.ls_l_banner_nav_right_grid_sub{
	padding:5em 0 !important;
}
.wthree_banner_bottom_left {
    padding-left: 0;
}
.wthree_banner_bottom_left_grid{
	position:relative;
}
.wthree_banner_bottom_left_grid_pos{
	position: absolute;
    top: 15%;
    right: 5%;
}
.wthree_banner_bottom_left_grid_pos h4{
	font-size: 1.5em;
    color: #000000;
}
.wthree_banner_bottom_left_grid_pos h4 span{
	display: block;
    line-height: 1;
    width: 80px;
    height: 80px;
    background: #FA1818;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    padding-top: 1.2em;
    margin: 0.5em auto 0;
}
.wthree_banner_btm_pos{
	width:100%;
	position:absolute;
	top:5%;
	padding: 0 2em;
}
.wthree_banner_btm_pos h3{
	text-transform:capitalize;
	font-size:1.5em;
	color:#212121;
	font-weight:300;
}
.wthree_banner_btm_pos h3 span{
	color: #84C639;
    font-weight: 600;
    display: block;
    line-height:1.8em;
    padding-left: 7em;
}
.wthree_banner_btm_pos h3 i{
	color: #FA1818;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
}
.wthree_banner_btm_pos1{
	position:absolute;
	top: 50%;
    left: 12%;
}
.wthree_banner_btm_pos1 h3{
	text-transform:uppercase;
	color:#212121;
	font-size:2em;
}
.wthree_banner_btm_pos1 h3 span{
	display: block;
    font-weight: 300;
    line-height: 1.5em;
    color: #FA1818;
}
/*-- //banner_bottom --*/
/*-- top-brands --*/
.tag {
    position: absolute;
    top: -1%;
    right: 10%;
}
.top-brands h3,.fresh-vegetables h3,.mail h3,.testimonials h3,.login h3,.ls_l_banner_nav_right_grid h3,h3.title,.faq h3,.services h3,.about h3,.team h3,.events h3{
	text-align:center;
	color:#212121;
	padding-bottom:.5em;
	position:relative;
	font-size: 2.5em;
}
.top-brands h3:after,.fresh-vegetables h3:after,.mail h3:after,.login h3:after,.testimonials h3:after,.ls_l_banner_nav_right_grid h3:after,h3.title:after,.faq h3:after,.services h3:after,.about h3:after,.team h3:after,.events h3:after{
	content: '';
    background: #FA1818;
    height: 2px;
    width: 8%;
    position: absolute;
    bottom: 0%;
    left: 46%;
}
.agile_top_brand_left_grid{
	background: #FFFFFF;
    padding: .5em;
    border: 1px solid #BEBEBE;
	position:relative;
}
.agile_top_brand_left_grid_pos{
	position:absolute;
	top:0%;
	left:0%;
}
.agile_top_brand_left_grid1{
	padding:1em;
	border:1px solid #D7D7D7;
}
.agile_top_brand_left_grid1 img{
	margin:0 auto;
}
.agile_top_brands_grids{
	margin:3em 0 0;
}
.top-brands{
    background: #f5f5f5;
}
.agile_top_brand_left_grid1 p{
	color:#212121;
	margin:1.5em 0 1em;
	line-height:1.5em;
	text-transform:capitalize;
	font-size:14px;
}
.agile_top_brand_left_grid1 h4,.agileinfo_single_right_snipcart h4{
	font-weight:600;
	font-size:1em;
	color:#212121;
}
.agile_top_brand_left_grid1 h4 span,.agileinfo_single_right_snipcart h4 span{
	font-weight:300;
	text-decoration:line-through;
	padding-left:1em;
}
/*-- cart --*/
.product_list_header {
    float: left;
    margin-left: 7em;
}
.snipcart-details {
    text-align: center;
	margin: 1.5em auto 1em;
    width:77%;
}
.btn-danger.my-cart-btn:focus {
    outline: none;
}
.snipcart-details input.button {
    font-size: 14px;
    color: #fff;
    background: #FA1818;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: .5em 0;
    outline: none;
}
.agile_top_brand_left_grid:hover .snipcart-details input.button,.snipcart-details input.button:hover{
    background: #84C639;
}
.product_list_header input.button {
    color: #fff;
    font-size: 14px;
    outline: none;
    text-transform: capitalize;
    padding: .5em 2.5em .5em 1em;
    border: 1px solid #84c639;
    margin: .35em 0 0;
    background: url(../images/cart.png) no-repeat 116px 9px;
}
#PPMiniCart form {
    width: 590px !important;
	padding: 10px 20px 40px !important;
	max-height:450px !important;
}
#PPMiniCart ul {
    width: 548px !important;
}
#PPMiniCart .minicart-item a {
    color: #212121 !important;
    font-size: 1em;
    display: block;
    margin-bottom: .5em;
    text-transform: capitalize;
}
#PPMiniCart .minicart-item {
    min-height:60px !important;
}
#PPMiniCart .minicart-attributes li {
    color: #999;
}
#PPMiniCart .minicart-remove {
    background: #fa1818 !important;
    border: 1px solid #fa1818 !important;
	opacity: 1 !important;
	outline:none;
}
#PPMiniCart .minicart-submit:hover{
	background:#84C639 !important;
	border-color: #5b951a !important;
}
#PPMiniCart .minicart-subtotal {
    padding-left: 25px !important;
	bottom: -17px !important;
}
#PPMiniCart {
    left: 44% !important;
}
.minicart-showing #PPMiniCart form{
    overflow-x: hidden;
    overflow-y: auto;
}
#PPMiniCart .minicart-footer {
    position: relative;
	width: 80%;
}
#PPMiniCart .minicart-submit {
    position: absolute;
    bottom: -28px!important;
    right: 0px!important;
    min-width: 153px;
    height: 33px;
    margin-right:6px;
    padding: 0 9px;
    border: 1px solid #84c639!important;
	background:#84c639!important;
	position: absolute;
    border-radius: 0px!important;
    color: #000;
    text-shadow:none!important;
    cursor: pointer;
}
#PPMiniCart .minicart-submit img {
    vertical-align: middle;
    padding: 4px 0 0 2px;
    display: none;
}
/*--/payment--*/
/*-- Pay-page --*/

.agileits_layouts_tab2 input[type="email"],.agileits_layouts_tab2 input[type="password"],.creditly-wrapper .form-control{
	display: block;
    width: 95.5%;
    padding: 15px 10px;
    font-size: 14px;
    color: #212121;
    background: #fff;
    border: 1px solid #e7e7e7;
    margin-bottom: 25px;
	outline:none;
}
.agileits_layouts_tab2 input[type="email"]:focus,.agileits_layouts_tab2 input[type="password"]:focus,.creditly-wrapper .form-control:focus {
  border-color: #66afe9;
  outline: 0;
}
.agileits_layouts_tab2 input[type="submit"] {
    display: block;
    position: relative;
    padding: 6px 50px 11px;
    letter-spacing: 3px;
    background: #1adeed;
    font-size: 1.5em;
    color: #fff;
    border: 1px solid #1adeed;
    outline: none;
    text-transform: uppercase;
	cursor:pointer;
}
.agileits_layouts_tab2 input[type="submit"]:hover{
	background: #fff;
    color: #212121;
	border: 1px solid #e7e7e7;
}
.agileinfo_main_grid_left_grid h3{
	font-size:1.3em;
	color:#fff;
}
.agileinfo_main_grid_left_grid ul{
	margin-top:1.5em;
}
.agileinfo_main_grid_left_grid ul li{
	display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    vertical-align: top;
}
.agileinfo_main_grid_left_grid ul li span{
	display:block;
	font-size:.5em;
	color:#999;
}
.agileinfo_main_grid_left_grid ul li:first-child{
	width: 70%;
	border-right:1px solid #999;
}
.agileinfo_main_grid_left_grid ul li:last-child{
	padding-left:1em;
	text-align:right;
}
.agile_amount{
	padding:1em 2em;
	background:#f71926;
}
.agile_amount h3{
	font-size:1.3em;
	color:#fff;
}
.agile_amount h4{
	font-size:2em;
	color:#fff;
	font-weight:bold;
}
.agile_amount p{
	font-size:1em;
	color:#1adeed;
	line-height:1.8em;
}


img.pp-img {
    width: 65%;
}
.tab-grid p {
    color: #8B8B8B;
    font-size: 0.95em;
    line-height: 1.8em;
    font-weight: 400;
    margin: 10px 0;
}
a.btn.btn-primary {
    background-color: #3a5795;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    border: none;
}



.vertical_post h5 {
    color: #212121;
    font-size: 18px;
    margin: 0 0 18px 0;
    letter-spacing: 1px;
}

.swit-radio label {
    font-size: 16px;
    color: #696969;
    padding: 0px 0 0 10px;
    font-weight: 100;
}
.radio_one:first-child {
    margin-left: 0;
    margin: 0;
}
.radio_one {
    padding-left: 22px;
    line-height: 28px;
    color: #404040;
    cursor: pointer;
}
.radio_one {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
.section_room_pay select {
    padding: 6px 10px;
    width: 33%;
    border: none;
    background: none;
    border: 1px solid #E6E4E4;
    color: #D2D1D1;
    outline: none;
    font-size: 16px;
    margin-bottom: 0;
    background: url(../images/arrow.png) no-repeat 96% center #ffffff;
    background-size: 4% !important;
    -webkit-appearance: none;
}
 select.form-control.option-ls {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: left;
}
.checkout-right-basket span {
    margin-left: 1em;
}
.check_box_one {
    float: left;
    width: 22%;
    margin-bottom: 10px;
}
.vertical_post form input[type="submit"]:hover {
      background: #fa1818;
}
.vertical_post form input[type="submit"] {
     background: #84c639;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
    border: none;
    font-size: 16px;
    outline: none;
    width: 22%;
    cursor: pointer;
    font-weight: 600;
    margin-top: 30px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.form-control {
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #84c639;
    border-color: #84c639;
    border-radius: 0;
}
button.submit.check_out{
    display: block;
    position: relative;
    padding: 11px 30px;
    letter-spacing: 1px;
    background: #84c639;
    font-size: 1.2em;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
}
/*-- //Pay-page --*/
/*-- //cart --*/
.column div.agile_top_brand_left_grid {
	position: relative;
	margin:0;
}
.agile_top_brand_left_grid figure {
	margin: 0;
	padding: 0;
	background:transparent;
	overflow: hidden;
	z-index: 0;
}
/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before,.top_brand_left:hover .hover14 figure::before{
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
/*-- //top-brands --*/
/*-- top-products --*/
.l_fresh_vegetables_grids{
	margin:3em 0 0;
	padding:1em 0em 1em 1em;
	background:#f5f5f5;
}
.l_fresh_vegetables_grid{
	padding-left:0;
}
.l_fresh_vegetables_grid ul li{
	list-style-type:none;
	margin-bottom:1.5em;
	color:#84C639;
}
.l_fresh_vegetables_grid ul li i{
	padding-right:1em;
}
.l_fresh_vegetables_grid ul li a{
	font-size:14px;
	text-transform:uppercase;
	color:#212121;
	text-decoration:none;
}
.l_fresh_vegetables_grid ul li a:hover{
	color:#84C639;
}
.l_fresh_vegetables_grid2{
	padding: 1em;
	background:#fff;
}
.l_fresh_vegetables_grid1_rel{
	position:relative;
}
.l_fresh_vegetables_grid1_rel_pos {
    position: absolute;
    top: 0;
    right: 5%;
}
.l_fresh_vegetables_grid1_rel_pos {
    position: absolute;
    top: 10%;
    right: 10%;
}
.m1 {
    margin-left: 0 !important;
    width: 100% !important;
}
.l_fresh_vegetables_grid1_bottom {
    margin: 1em 0 0;
	position:relative;
}
.l_fresh_vegetables_grid1_bottom_pos{
	position:absolute;
	bottom:5%;
	left:10%;
}
.l_fresh_vegetables_grid1_bottom_pos h5{
	font-size: 1.3em;
    color: #fff;
    font-weight: 600;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #FA1818;
    border-radius: 50%;
    padding: 1.1em 0 0;
    line-height: 1.3em;
}
.agileinfo_breaking_news {
    float: right;
    width: 10%;
}
.agileinfo_marquee {
    width: 90%;
    float: left;
    padding: .8em 0 0px;
	text-align:right;
}
.agileinfo_breaking_news span{
    background: url(../images/img-sp.png) no-repeat 1px -116px;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.l_fresh_vegetables_grid_right{
	padding:0;
}
.agileinfo_marquee h4{
	text-transform:capitalize;
	font-size:1.2em;
	color:#212121;
	line-height:1.5em;
}
.agileinfo_move_text {
    margin: 1em 0 0;
}
.agileinfo_marquee h4 span {
    color: #FA1818;
}
/*-- //top-products --*/
/*-- newsletter --*/
.newsletter{
	padding:3em 0;
	background:#FA1818;
}
.agile_newsletter_left{
	float: left;
    width: 35%;
    text-align: right;
}
.agile_newsletter_left h3{
	text-transform: capitalize;
    font-size: 1.2em;
    color: #fff;
    margin: .5em 0 0;
}
.agile_newsletter_right{
	float: left;
    width: 50%;
    margin-left: 2em;
}
.agile_newsletter_right input[type="email"]{
	outline: none;
    padding: 10px;
    background: none;
    border: 1px solid #E6E6E6;
    font-size: 14px;
    color: #fff;
    width: 74%;
    float: left;
}
.agile_newsletter_right input[type="submit"]{
	outline: none;
    padding: 10px 0;
    background: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    color: #FA1818;
    width: 25.7%;
    text-transform: uppercase;
}
.agile_newsletter_right input[type="submit"]:hover{
	background:#84C639;
	border: 1px solid #84C639;
	color:#fff;
}
/*-- //newsletter --*/
/*-- footer --*/
.footer{
	padding:4em 0;
	background:#212121;
}
.footer_grid h3{
	font-size:1.2em;
	color:#fff;
	text-transform:uppercase;
	margin-bottom:2em;
}
.footer_grid ul.footer_grid_list li{
	list-style-type: none;
    margin-bottom: 1.5em;
    padding-left: 2em;
    background: url(../images/img-sp.png) no-repeat -14px -193px;
}
.footer_grid ul.footer_grid_list li a{
	color:#999;
	text-decoration:none;
	text-transform:capitalize;
}
.footer_grid ul.footer_grid_list li a:hover{
	color:#fff;
}
.agile_footer_grids{
	padding:1em 0 0;
}
.footer_grid_bottom h4,.footer_grid_bottom h5{
	text-transform:capitalize;
	font-size:1em;
	margin-bottom:1em;
}
.footer_grid_bottom h4{
	color:#84C639;
}
.footer_grid_bottom h5{
	color:#fff;
}
.agileits_social_icons li{
	display:inline-block;
}
.agileits_social_icons li a{
	border: 2px solid #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    color: #fff;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
}
.agileits_social_icons li a i {
    padding: 0.8em 0 0;
}
.agileits_social_icons li a.facebook:hover{
	background:#3b5998;
	border-color:#3b5998;
}
.agileits_social_icons li a.twitter:hover{
	background:#55acee;
	border-color:#55acee;
}
.agileits_social_icons li a.google:hover{
	background:#dd4b39;
	border-color:#dd4b39;
}
.agileits_social_icons li a.instagram:hover{
	background:#833ab4;
	border-color:#833ab4;
}
.agileits_social_icons li a.dribbble:hover{
	background:#ea4c89;
	border-color:#ea4c89;
}
.footer_grid ul.footer_grid_list1 li i {
    color: #84C639;
}
.footer_grid ul.footer_grid_list1 li span {
    margin-left: 2em;
    display: block;
}
.footer_grid ul.footer_grid_list1 li a {
    color: #fff;
    text-decoration: none;
}
.footer_grid ul.footer_grid_list1 li label{
	color:#FA1818;
	padding-right:1em;
}
.footer_grid ul.footer_grid_list1 li{
	list-style-type: none;
    margin-bottom: 1.5em;
    color: #999;
    line-height: 1.8em;
}
.footer_grid ul.footer_grid_list1 li a:hover{
	color:#999;
}
.wthree_footer_copy{
	margin: 4em 0 0;
    padding: 3em 0 0;
    text-align: center;
    border-top: 1px solid #3A3A3A;
}
.wthree_footer_copy p{
	font-size:14px;
	color:#999;
	line-height:1.8em;
}
.wthree_footer_copy p a{
	color:#fff;
	text-decoration:none;
}
.wthree_footer_copy p a:hover{
	color:#FA1818;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- products-breadcrumb --*/
.products-breadcrumb{
	padding:1em 0;
	background:#84C639;
}
.products-breadcrumb ul li{
	display:inline-block;
	color:#212121;
	font-family:'Ubuntu', sans-serif !important;
}
.products-breadcrumb ul li span{
	padding:0 2em;
}
.products-breadcrumb ul li a{
	color:#fff;
	text-decoration:none;
}
.products-breadcrumb ul li a:hover{
	color:#FA1818;
}
.products-breadcrumb ul li i {
    padding-right: 1em;
	color:#FA1818;
}
/*-- //products-breadcrumb --*/
/*-- products --*/
.l_banner_nav_right_banner3,.l_banner_nav_right_banner4,.l_banner_nav_right_banner5,.l_banner_nav_right_banner6,.l_banner_nav_right_banner7,.l_banner_nav_right_banner8,.l_banner_nav_right_banner9,.l_banner_nav_right_banner10{
	min-height:300px;
	padding-top: 7em;
}
.l_banner_nav_right_banner3{
	background:url(../images/12.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner4{
	background:url(../images/16.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner5{
	background:url(../images/17.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner6{
	background:url(../images/21.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner7{
	background:url(../images/25.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner8{
	background:url(../images/26.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner9{
	background:url(../images/27.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner10{
	background:url(../images/28.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.l_banner_nav_right_banner3 h3,.l_banner_nav_right_banner4 h3,.l_banner_nav_right_banner5 h3,.l_banner_nav_right_banner6 h3,.l_banner_nav_right_banner7 h3,.l_banner_nav_right_banner8 h3,.l_banner_nav_right_banner9 h3,.l_banner_nav_right_banner10 h3{
	font-size: 2em;
    color: #FA1818;
    text-transform: capitalize;
    padding: .3em .5em;
    background: #fff;
    width: 37%;
    margin-left: 10em;
    font-weight: 300;
    text-align: center;
	position:relative;
}
.l_banner_nav_right_banner3 span,.l_banner_nav_right_banner4 span,.l_banner_nav_right_banner5 span,.l_banner_nav_right_banner6 span,.l_banner_nav_right_banner7 span,.l_banner_nav_right_banner8 span,.l_banner_nav_right_banner9 span,.l_banner_nav_right_banner10 span{
	background: url(../images/img-sp.png) no-repeat 1px -116px;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -3%;
    top: -55%;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.ls_l_banner_nav_right_grid1{
	margin:3em 0 0 0em;
}
.ls_l_banner_nav_right_grid1 h6{
	text-transform: uppercase;
    color: #212121;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
.checkout-right h4,.address_form_agile h4{
    text-transform: uppercase;
    color: #212121;
    font-size: 1.5em;
    margin-bottom: 1.5em;
}
.address_form_agile h4{
	font-size: 1.2em;
}
.l_agile_top_brand_left_grid{
	margin:0 !important;
}
.l_banner_nav_right_banner3_btml{
	padding-left:0;
}
.l_banner_nav_right_banner3_btml h4{
	font-size:1.5em;
	color:#212121;
	margin:1em 0;
}
.checkout-right {
    margin-top: 3em;
}
.l_banner_nav_right_banner3_btml ol {
    padding-left: 1em;
}
.l_banner_nav_right_banner3_btml ol li{
	color:#999;
	margin-bottom:1em;
	text-transform:capitalize;
}
.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 0.7s ease-in-out;
   -moz-transition: all 0.7s ease-in-out;
   -o-transition: all 0.7s ease-in-out;
   -ms-transition: all 0.7s ease-in-out;
   transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
	background-color: #FA1818;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    width: 100%;
    height: 100%;
}
.view-tenth h4 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #333;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #333;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img,.l_banner_nav_right_banner3_btml:hover .view-tenth img{
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask,.l_banner_nav_right_banner3_btml:hover .view-tenth .mask{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h4,.view-tenth:hover p,.l_banner_nav_right_banner3_btml:hover .view-tenth h4,.l_banner_nav_right_banner3_btml:hover .view-tenth p{
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view {
   overflow: hidden;
   position: relative;
   text-align: center;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   margin: 0 auto;
}
.view h4 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin:5em 0 0;
}
.view p {
	font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 10px 45px 0px;
    text-align: center;
    line-height: 1.8em;
}
/*-- //products --*/
/*-- vegetables --*/
.l_fruit{
	margin-bottom:2em !important;
}
/*-- //vegetables --*/
/*-- kitchen --*/
.ls_l_banner_nav_right_grid_head h6{
	font-size:1.5em;
	text-transform:uppercase;
	color:#212121;
}
.ls_l_banner_nav_right_grid_head_grid {
    padding-left: 0;
}
.ls_l_banner_nav_right_grid_head_grids {
    margin: 3em 0 0;
}
.ls_l_banner_nav_right_grid_head_grid h4{
	text-transform:capitalize;
	font-size:1.2em;
	color:#212121;
	margin:1em 0;
}
.ls_l_banner_nav_right_grid{
	padding:0 0 5em;
}
.ls_l_banner_nav_right_grid_head_grid ul li{
	list-style-type:none;
	margin-bottom:.5em;
}
.ls_l_banner_nav_right_grid_head_grid ul li a{
	color:#999;
	text-decoration:none;
}
.ls_l_banner_nav_right_grid_head_grid ul li a:hover{
	color:#212121;
}
/*-- //kitchen --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: 1em;
    color:#FA1818;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.nav-tabs {
	margin-bottom: 3em;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
.typo,.privacy,.faq,.services,.events,.mail,.agileinfo_single,.login{
    padding: 5em;
}
/*--//Typography --*/
/*-- pet-food --*/
.l_banner_nav_right_banner9 h4{
	font-size: 2em;
    color: #212121;
    line-height: 1.5em;
}
.l_banner_nav_right_banner_pet {
    padding:4.5em 0 0 4em !important;
}
.l_banner_nav_right_banner_pet p{
	margin:0 0 2em;
	font-size:14px;
	color:#fff;
	line-height:1.8em;
}
.l_banner_nav_right_banner_pet a,.ls_service_grids1_right a{
	padding:10px 30px;
	font-size:1em;
	text-transform:uppercase;
	color:#fff;
	background:#FA1818;
	text-decoration:none;
}
.l_banner_nav_right_banner_pet a:hover,.ls_service_grids1_right a:hover{
	background:#84C639;
}
/*-- //pet-food --*/
/*-- privacy --*/
.privacy1-grid,.privacy2-grid{
	margin:3em 0 0;
}
.privacy1-grid ul{
	margin-bottom:2em;
}
.privacy1-grid ul li{
	display: inline-block;
    font-size: 1.2em;
    color: #212121;
    margin-bottom: 1em;
}
.privacy1-grid ul li i{
	color:#84C639;
	top: -.5em;
}
.privacy1-grid ul li span,.privacy2-grid1 p{
	display:block;
	font-size:14px;
	color:#999;
	line-height:1.8em;
}
.privacy1-grid ul {
    padding: 0 2em 1em;
    border-bottom: 1px solid #E1E1E1;
}
.privacy2-grid1{
	padding:0 2em;
}
.privacy1-grid ul li:nth-child(1) {
    margin-right: 2em;
}
.privacy1-grid ul:nth-child(4){
	padding-bottom:0;
	border-bottom:none;
	margin-bottom:0;
}
.privacy1:nth-child(2){
	margin:3em 0 0;
}
.privacy2-grid1 h4{
	font-size: 1.5em;
    color: #84C639;
    margin: 0 0 1em;
    line-height: 1.5em;
    text-transform: capitalize;
    font-weight: 300;
}
.privacy2-grid1 h5{
	font-size: 1.2em;
    color: #212121;
    margin: 0 0 1em;
    text-transform: capitalize;
}
.privacy2-grid1-sub:nth-child(2){
	margin:2em 0;
}
.privacy1 h3 {
    font-size: 1.5em;
    color: #FA1818;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
    padding-bottom: .5em;
    position: relative;
}
.privacy1 h3:after{
	content:'';
	position:absolute;
	bottom:0%;
	left:0%;
	background:#212121;
	height:2px;
	width:10%;
}
.privacy2-grid1-sub {
    margin: 2em 0 0;
}
/*-- //privacy --*/
/*-- faq --*/
.pa_italic i {
    left: -1em;
	font-size: 11px;
}
.pa_italic span {
    display: none;
}
.collapsed span {
    display: inline-block;
    left: -1em;
	font-size: 11px;
}
.collapsed i {
    display: none;
}
.panel-heading {
    padding:30px 15px;
}
.panel-title > a{
    font-size: 1em;
    color:#212121;
    text-transform: capitalize;
	text-decoration: none;
}
.panel-default {
    border-color: #FFF;
	background: #f5f5f5;
}
.panel-default > .panel-heading {
    border-color: #FFF;
	color:#212121;
    background-color: #fff;
}
.panel-body {
    padding: 2em;
    font-size: 14px;
    line-height: 2em;
    color: #999;
}
a.pa_italic label {
    cursor: pointer;
	font-weight:500;
}
a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}
.l_panel_group_faq{
	margin:3em 0 0;
}
/*-- //faq --*/
/*-- services --*/
.ls_service_grid_left h4{
	text-transform:uppercase;
	font-size:1.5em;
	color:#212121;
	padding-bottom:.5em;
	position:relative;
}
.ls_service_grid_left h4:after{
	content:'';
	position:absolute;
	bottom:0%;
	left:0%;
	background:#84C639;
	height:2px;
	width:30%;
}
.ls_service_grid_left p{
	font-size:14px;
	color:#999;
	line-height:2em;
	margin:1.5em 0 0;
}
.ls_service_grids {
    margin: 3em 0;
}
.ls_service_grid_right_1 {
    padding-right: 0;
}
.ls_service_grids1_right ul li{
	list-style-type:none;
	margin-bottom:1.5em;
	color:#212121;
	text-transform:capitalize;
}
.ls_service_grids1_right ul li i{
	padding-right:1em;
	color:#84C639;
}
.ls_service_grids1_left img {
    margin: 0 auto;
}
.ls_service_grids1_right ul{
	padding-bottom:2em;
}
.services-bottom{
	background:url(../images/2.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
	padding:3em 0;
}
.about_counter_left {
    text-align: center;
}
.about_counter_left i{
    font-size: 1.5em;
    color: #fff;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 60px;
    padding-top: 1.4em;
    background: #84C639;
}
.about_counter_left p{
	font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    margin: 0.5em 0 0em;
}
.about_counter_left h3{
	color: #fff;
    font-size: 1.3em;
    margin: .5em 0 0;
}
.wthree_news_top_serv_btm_grid_icon i{
	font-size: 2.5em;
    color: #FA1818;
}
.wthree_news_top_serv_btm_grid h3{
	font-size:1.2em;
	color:#212121;
	text-transform:capitalize;
	margin:2em 0 1em;
}
.wthree_news_top_serv_btm_grid p{
	font-size:14px;
	color:#999;
	line-height:2em;
}
p.animi{
	font-size:14px;
	color:#999;
	line-height:2em;
	margin:1em 0 0;
}
.agile_about_grid_left ol li{
	color:#212121;
	margin-bottom:1.5em;
}
.agile_about_grid_left ol {
    margin: 0;
}
.agile_about_grids {
    margin: 3em 0 0;
}
/*-- //services --*/
/*-- team --*/
.team{
	background:#f5f5f5;
}
.agileits_team_grids{
	margin:3em 0 0;
}
.agileits_team_grid h4{
	margin: 1em 0 .2em;
    color: #84C639;
    font-size: 1.2em;
    text-transform: uppercase;
}
.agileits_team_grid p{
	color:#999;
	font-size:14px;
	margin-bottom:1em;
}
.agileits_team_grid {
    text-align: center;
}
.agileits_team_grid img{
    margin:0 auto;
}
.agileits_social_icons_team li a {
    border: 2px solid #212121;
    color: #212121;
}
.agileits_social_icons_team li a:hover{
    color: #fff;
}
.testimonials_grid p{
	font-size:14px;
	color:#999;
	line-height:2em;
}
.testimonials_grids {
    margin: 3em 0 0;
}
.testimonials_grid p i {
    display: block;
    font-size: 1.5em;
    padding: 0 2em 1em 0;
    color: #84C639;
}
.testimonials_grid {
    padding: 0 4em;
}
.testimonials_grid h4{
	font-size:1em;
	color:#212121;
	text-align:right;
	text-transform:uppercase;
	margin: 2em 0 0;
}
.testimonials_grid h4 span{
	display: block;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: .8em;
    margin: .5em 0 0;
    color: #FA1818;
}
/*-- wmuslider --*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	/*--max-width: 100%;
	width: auto;
	height: auto;
	display:block;--*/
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
    position: absolute;
    left: 47%;
    bottom: 2%;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    background: #CFCFCF;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
	-ms-border-radius: 50px;
}
.wmuSliderPagination a.wmuActive {
	background: #84C639;
    box-shadow: 0px 0px 10px #84C639;
	-webkit-box-shadow: 0px 0px 10px #84C639;
	-moz-box-shadow: 0px 0px 10px #84C639;
	-o-box-shadow: 0px 0px 10px #84C639;
	-ms-box-shadow: 0px 0px 10px #84C639;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.banner-wrap{
	padding:0 0 4em;
}
/*-- //wmuslider --*/
/*-- //team --*/
/*-- events --*/
.agile_event_grid_left i{
	font-size: 2em;
    color: #FA1818;
    padding-top: 1em;
}
.agile_event_grid_right{
	border-left: 1px solid #D2D2D2;
    padding-left: 3em;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 1.25em;
}
.agile_event_grid_right h4{
	font-size: 1.1em;
    color: #212121;
    text-transform: uppercase;
}
.agile_event_grid_right p{
	font-size:14px;
	color:#999;
	line-height:2em;
	margin:1em 0 0;
}
.agile_event_grids:nth-child(2){
	margin:3em 0 0;
}
.agile_event_grid_left {
    border-bottom: 1px solid #D2D2D2;
    height: 110px;
}
.agile_event_grids:nth-child(3){
	margin:3em 0;
}
.events_bottom_left1_grid {
    width: 125px;
    height: 125px;
    background:#84C639;
    text-align: center;
	margin:0 auto;
}
.events_bottom_left1_grid h4 {
    font-size: 2em;
    padding: .7em 0;
	background: #f5f5f5;
}
.events_bottom_left1_grid p {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: .8em;
}
.events_bottom_left2 {
    padding: 0;
}
.events_bottom_left2 h4{
	text-transform:uppercase;
	font-size:1.2em;
	color:#212121;
	margin:2em 0 1em;
}
.events_bottom_left2 p{
	color:#999;
	line-height:2em;
	font-size:14px;
	margin: 1.5em 0 0;
}
.events_bottom_left2 ul li{
	display:inline-block;
	margin-right:1.5em;
	color:#212121;
}
.events_bottom_left2 ul li a{
	color:#212121;
	text-decoration:none;
}
.events_bottom_left2 ul li a:hover{
	color:#84C639;
}
.events_bottom_left2 ul li i{
	padding-right:1em;
	color:#FA1818;
}
.events-bottom {
    padding: 5em 0 0;
}
/*-- //events --*/
/*-- mail --*/
.agileinfo_mail_grid_left ul li{
	display:inline-block;
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	font-weight: bold;
}
.agileinfo_mail_grid_left ul li i{
	font-size:2em;
	color:#FA1818;
}
.agileinfo_mail_grid_left ul li span{
	display: block;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 1px;
}
.agileinfo_mail_grid_left ul li:first-child{
	padding-right:1.5em;
}
.agileinfo_mail_grid_left ul li:last-child{
	padding-left:1.5em;
	border-left:1px solid #999;
}
.agileinfo_mail_grids {
    margin: 3em 0 0;
}
.agileinfo_mail_grid_left ul:nth-child(2){
	margin:3em 0;
}
.agileinfo_mail_grid_left ul li a{
	text-decoration:none;
	color:#212121;
}
.agileinfo_mail_grid_left ul li a:hover{
	color:#FA1818;
}
.agileinfo_mail_grid_right input[type="text"],.agileinfo_mail_grid_right input[type="email"],.agileinfo_mail_grid_right textarea{
	outline:none;
	padding:10px;
	font-size:14px;
	color:#212121;
	background:#f5f5f5;
	width:100%;
	border:1px solid #E6E6E6;
}
.agileinfo_mail_grid_right input[type="text"]:nth-child(2),.agileinfo_mail_grid_right input[type="email"]{
	margin:1em 0 0;
}
.agileinfo_mail_grid_right textarea{
	min-height: 200px;
    margin: 1em 1.1em;
    width: 95.9% !important;
}
.agileinfo_mail_grid_right input[type="submit"],.agileinfo_mail_grid_right input[type="reset"]{
	outline: none;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #84C639;
    width: 46.6%;
    border: none;
    text-transform: uppercase;
    margin-left: 1.1em;
}
.agileinfo_mail_grid_right input[type="submit"]:hover,.agileinfo_mail_grid_right input[type="reset"]:hover{
	background:#212121;
}
.map iframe{
	width:100%;
	min-height:400px;
	margin-bottom:-6px;
}
/*-- //mail --*/
/*-- single --*/
.agileinfo_single h5{
	font-size: 1.8em;
    color: #212121;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-bottom: 2em;
}
.agileinfo_single_left {
    padding: 2em;
    box-shadow: 0px 0px 5px #E1E1E1;
}
/*-- Ratings --*/
.rating1 {
    direction:ltr;
}
.starRating:not(old) {
    display: inline-block;
    height: 17px;
    width:100px;
    overflow: hidden;
}

.starRating:not(old) > input{
  margin-right :-26%;
  opacity      : 0;
}

.starRating:not(old) > label {
    float: right;
    background: url(../images/star.png);
    background-size: contain;
    margin-right: 2px;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 16px;
  height          : 16px;
  background      : url(../images/star1.png);
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
/*-- //Ratings --*/
.agileinfo_single_right {
    padding-left: 5em;
}
.agileinfo_single_right_snipcart{
	margin:0 0 2em;
}
.agileinfo_single_right_details {
    margin: 0 !important;
    width: 25% !important;
}
.agile_description h4{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
}
.agile_description p{
	font-size:14px;
	color:#999;
	line-height:2em;
	margin:.5em 0 0;
	width:80%;
}
.agile_description {
    margin: 2em 0;
}
.ls_l_banner_nav_right_grid_popular{
	background:#f5f5f5;
	padding:5em 0 !important;
}
/*-- //single --*/
/*-- checkout --*/
.checkout h2{
	font-size:1em;
	color:#212121;
	text-transform:uppercase;
	margin:0 0 3em;
}
.checkout h2 span{
	color:#3399cc;
}
table.timetable_sub {
	width:100%;
	margin:0 auto;
}
.timetable_sub thead {
    background: #004284;
}
.timetable_sub th {
    background: #212121;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid #ded2d2;
}
.timetable_sub th, .timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 14px;
    color: #212121;
}
.timetable_sub td {
	border:1px solid #CDCDCD;
}
td.invert-image a img {
    width:30%;
    margin: 0 auto;
}
.rem{
	position:relative;
}
.close1,.close2,.close3 {
    background: url('../images/close_1.png') no-repeat 0px 0px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 15px;
    top: -13px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
/*-- quantity-starts --*/
 .value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: "";
	width: 13px;
	height: 2px;
	background: #000;
	left: 50%;
	margin-left: -7px;
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px;
	background: #000;
	left: 50%;
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
/*-- quantity-end --*/
.checkout-left-basket h4{
	padding: 1em;
    background: #84c639;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}
.checkout-left {
    margin: 2em 0 0;
}
.checkout-left-basket ul li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#999;
}
.checkout-left-basket {
    float: left;
    padding-left: 0;
}
.checkout-right-basket{
	float: right;
margin: 3em 0 0 0em;
}
.checkout-left-basket ul li span {
    float: right;
}
.checkout-left-basket ul li:nth-child(5) {
    font-size: 1em;
    color: #212121;
    font-weight: 600;
    padding: 1em 0;
    border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
    margin: 2em 0 0;
}
.checkout-right-basket a {
    padding: 10px 20px 10px 18px;
    color: #fff;
    font-size: 1em;
    background: #212121;
    text-decoration: none;
}
.checkout-right-basket a:hover{
    background: #84c639;
}
.checkout-right-basket a span {
    left: -.5em;
    top: 0.1em;
}
.checkout {
    padding: 5em 0;
}
.address_form_agile {
    float: right;
}
.information-wrapper input {
    width: 100%!important;
}
.check_box_one.cashon_delivery {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
/*-- checkbox --*/
.agileits-login label {
    font-size: 1em;
    color: #000;
	letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}
input.checkbox {
    background: #fd0006;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: text-bottom;
}
input.checkbox:before {
	content: "";
	position: absolute;
	width: 1.2em;
	height: 1.2em;
	background: inherit;
	cursor: pointer;
}
input.checkbox:after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 1;
	width: 1.2em;
	height: 1.2em;
	border: 1px solid #fff;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: 1.2em;
	border-color: #fff;
	border-top-color: transparent;
	border-right-color: transparent;
}
.anim input.checkbox:checked:after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .6em;
	border-color: transparent;
	border-right-color: transparent;
	animation: .4s rippling .4s ease;
	animation-fill-mode: forwards;
}
@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
}
.vertical_post.check_box_agile {
    padding-bottom: 1em;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: -29px;
}
/*-- //checkout --*/
/*-- login --*/
/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Form Module */
.form-module {
	position: relative;
    background: #ffffff;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #FA1818;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin: 3em auto 0;
}
.login_module{
	min-height: 475px;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background:#FA1818;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
	position: absolute;
    top: 5px;
    right: -75px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Ubuntu', sans-serif !important;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
    margin: 0 0 1.5em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
}
.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size:14px;
}
.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus {
  border:1px solid #A9A9A9;
  color: #333333;
}
.form-module input[type="submit"] {
  background:#84C639;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size:14px;
  font-weight:bold;
}
.form-module input[type="submit"]:hover {
  background:#FA1818;
}
.form-module .cta {
	background: #343434;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.form-module .cta a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
/*-- //login --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
	.snipcart-details {
		width: 76%;
	}
	.more {
		margin-left: 63em;
	}
}
@media (max-width:1600px){
	.snipcart-details {
		width: 77%;
	}
	.more {
		margin-left: 59em;
	}
}
@media (max-width:1440px){
	.l_header_right {
		padding-left: 4em;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		width: 45%;
	}
	.l_banner_nav_right_banner1, .l_banner_nav_right_banner, .l_banner_nav_right_banner2 {
		padding: 10em 7em 0 0;
	}
	.snipcart-details {
		width: 93%;
	}
	.view h4 {
		margin: 4.5em 0 0;
	}
	.agile_event_grid_right {
		padding-left: 2em;
	}
	.agile_event_grid_right h4 {
		font-size: 1em;
	}
	.agile_event_grid_left {
		height: 108px;
	}
	.events_bottom_left2 h4 {
		line-height: 1.8em;
	}
	.agileinfo_mail_grid_left {
		padding: 0;
	}
	.agileinfo_mail_grid_left ul li span {
		font-size: 0.8em;
	}
}
@media (max-width:1366px){
	.l_search {
		margin: .1em 0 0em 6em;
	}
	.l_banner_nav_right_banner1, .l_banner_nav_right_banner, .l_banner_nav_right_banner2 {
		padding: 7em 13em 0 0;
		min-height: 375px;
	}
	.more {
		margin-left: 51em;
	}
	.view p {
		padding: 10px 35px 0px;
	}
	.view h4 {
		margin: 4em 0 0;
	}
	.agile_top_brand_left_grid1 {
		padding: .5em;
	}
	.l_banner_nav_right_banner5 {
		background-position:-115px 0px;
	}
	.snipcart-details {
		width: 89%;
	}
	.l_banner_nav_right_banner9 {
		background-position:-50px 0px;
	}
	.agile_event_grid_right {
		padding-right: 0;
	}
	.agileinfo_mail_grid_left ul li i {
		font-size: 1.5em;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 6em;
	}
}
@media (max-width: 1280px){
	.more {
		margin-left: 47em;
	}
	.product_list_header {
		margin-left: 3em;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 5em;
	}
	.wthree_banner_btm_pos h3 {
		font-size: 1.3em;
	}
	.wthree_banner_btm_pos1 h3 {
		font-size: 1.6em;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		margin-left: 8em;
	}
	.view p {
		padding: 10px 25px 0px;
	}
	.view h4 {
		margin: 3.6em 0 0;
	}
	.ls_l_banner_left {
		padding-left: 0;
	}
	.l_banner_nav_right_banner7 {
		background-position:-130px 0px;
	}
	.l_banner_nav_right_banner9 {
		background-position: -125px 0px;
	}
	.agileinfo_single_right {
		padding-left: 3em;
	}
	.agileinfo_single_right_details {
		width: 33% !important;
	}
	.snipcart-details {
		width: 88%;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .login {
		padding: 5em 3em;
	}
	.events_bottom_left1_grid {
		width: 110px;
		height: 110px;
	}
	.events_bottom_left1_grid h4 {
		padding: .5em 0;
	}
	.events_bottom_left2 h4 {
		margin: 1em 0 1em;
	}
	.wthree_banner_bottom_left_grid_pos {
		top: 8%;
	}
}
@media (max-width: 1080px){
	.l_offers a {
		font-size: 1.1em;
		padding:.6em 1em;
	}
	.l_search {
		margin: .1em 0 0em 3em;
		width: 30%;
	}
	.l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 6px 5px #FA1818;
	}
	.l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 6px 5px #84C639;
	}
	.product_list_header {
		margin-left: 2em;
	}
	#PPMiniCart {
		left: 42% !important;
	}
	.snipcart-details input.button {
		font-size: 13px;
	}
	.l_banner_nav_right_banner3_btml h4 {
		font-size: 1.3em;
	}
	.ls_logo_products_left h1 a {
		font-size: 1.3em;
		background: url(../images/img-sp.png) no-repeat 43px -3px;
		height: 88px;
	}
	.ls_logo_products_left1 ul.phone_email li:last-child {
		margin-right: 0;
	}
	.ls_logo_products_left {
		margin-right: 5em;
	}
	.ls_logo_products_left1 ul.special_items li i {
		padding: 0 1em;
	}
	.ls_logo_products_left1:nth-child(3) {
		margin-left: 4em;
	}
	.more {
		margin-left: 42em;
		width: 25%;
	}
	.l_banner_nav_right_banner1, .l_banner_nav_right_banner, .l_banner_nav_right_banner2 {
		padding: 7em 4em 0 0;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 4em;
	}
	.top_brand_left {
		padding-left: 0;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .login h3, .ls_l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 2.3em;
	}
	.banner_bottom, .top-brands, .fresh-vegetables, .l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .ls_l_banner_nav_right_grid_sub {
		padding: 4em 0 !important;
	}
	.agile_footer_grids_footer {
		width: 35%;
	}
	.footer_grid {
		padding-left: 0;
	}
	.wthree_banner_bottom_left_grid_pos h4 {
		font-size: 1.3em;
	}
	#Awesome h4 {
		padding: 1.9em 0 0;
	}
	.wthree_banner_btm_pos1 {
		top: 40%;
	}
	.l_fresh_vegetables_grid1_bottom_pos h5 {
		font-size: 1.1em;
		width: 85px;
		height: 85px;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		font-size: 1.7em;
		width: 55%;
	}
	.l_banner_nav_right_banner3, .l_banner_nav_right_banner4, .l_banner_nav_right_banner5, .l_banner_nav_right_banner6, .l_banner_nav_right_banner7, .l_banner_nav_right_banner8, .l_banner_nav_right_banner9, .l_banner_nav_right_banner10 {
		min-height: 225px;
		padding-top: 5.5em;
	}
	.view p {
		padding: 10px 10px 0px;
	}
	.view h4 {
		margin: 1.8em 0 0;
	}
	.agile_top_brand_left_grid1 p {
		font-size:13px;
	}
	.snipcart-details {
		width: 80%;
	}
	.agile_newsletter_right {
		width: 60%;
	}
	.l_banner_nav_right_banner5 {
		background-position: -45px 0px;
	}
	.l_banner_nav_right_banner7 {
		background-position: -45px 0px;
	}
	.l_banner_nav_right_banner9 {
		background-position: -45px 0px;
	}
	.l_banner_nav_right_banner9 h4 {
		font-size: 1.6em;
	}
	.l_banner_nav_right_banner_pet {
		padding: 3em 0 0 3em !important;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .login {
		padding: 4em 3em;
	}
	.agile_event_grid_right h4 {
		font-size: 1.1em;
		line-height: 1.5em;
	}
	.agile_event_grid_left {
		height: 171px;
	}
	.agile_event_grid_left i {
		padding-top: 2em;
	}
	.events_bottom_left1_grid h4 {
		font-size: 1.5em;
	}
	.events_bottom_left1_grid {
		width: 85px;
		height: 90px;
	}
	.events_bottom_left2 h4 {
		font-size: 1em;
	}
	.agileinfo_mail_grid_left ul li:first-child {
		padding-right: 1em;
	}
	.agileinfo_mail_grid_left ul li:last-child {
		padding-left: 1em;
	}
	.agileinfo_mail_grid_right textarea {
		width: 93.5% !important;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 44.6%;
	}
	.map iframe {
		min-height: 300px;
	}
	.privacy1-grid ul li i {
		top: 0;
	}
	.privacy1-grid ul li:nth-child(2) {
		width: 85%;
	}
	.wthree_banner_bottom_left_grid_pos h4 span {
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 1024px){
	.l_header_right {
		padding-left: 2em;
	}
	.more {
		margin-left: 40em;
	}
	.navbar-nav > li > a {
		padding: 10px 0px 10px 25px;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		margin-left: 7em;
	}
	.l_banner_nav_right_banner3_btml h4 {
		font-size: 1.3em;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .login h3, .ls_l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 2em;
	}
	.ls_l_banner_nav_right_grid1 h6 {
		font-size: 1.3em;
	}
	.l_banner_nav_right_banner3_btml h4 {
		font-size: 1.1em;
	}
	.view p {
		font-size: 13px;
	}
	.view h4 {
		margin: 1.5em 0 0;
	}
	.ls_service_grid_left h4 {
		font-size: 1.2em;
	}
	.ls_service_grids1_right {
		padding-right: 0;
	}
	.snipcart-details {
		width: 90%;
	}
}
@media (max-width: 991px){
	.l_search {
		margin: .1em 0 0em 2em;
	}
	.ls_logo_products_left h1 a {
		font-size: 1.2em;
		background: url(../images/img-sp.png) no-repeat 38px -9px;
		height: 83px;
	}
	.ls_logo_products_left1 ul.phone_email li {
		margin-right: 1em;
	}
	.ls_logo_products_left1 ul.special_items li i {
		padding: 0 .7em;
	}
	.container {
		width: 815px;
	}
	.ls_logo_products_left1:nth-child(3) {
		margin-left: 1em;
	}
	.ls_logo_products_left {
		margin-right: 1em;
	}
	.ls_logo_products_left1 ul.phone_email li i {
		padding-right: .5em;
	}
	.l_banner_nav_right_banner {
		background-position:-70px 0px;
	}
	.more {
		margin-left: 39em;
	}
	.wthree_banner_bottom_left_grid_sub,.wthree_banner_bottom_left_grid_sub1 {
		float: none;
		width: 100%;
	}
	.wthree_banner_bottom_left {
		padding: 0 1em;
		float: left;
		width: 33.33%;
	}
	.top_brand_left {
		padding: 0 1em;
		float: left;
		width: 50%;
	}
	.hover14.column {
		width: 75%;
		margin: 0 auto;
	}
	.snipcart-details {
		width: 70%;
	}
	.agile_top_brand_left_grid1 p {
		font-size: 14px;
	}
	.agile_top_brand_left_grid1 {
		padding: 1em;
	}
	.top_brand_left:nth-child(2) {
		margin: 0 0 3em;
	}
	.l_fresh_vegetables_grids {
		padding: 0;
		background: #fff;
	}
	.l_fresh_vegetables_grid {
		padding: 1em;
		width: 50%;
		margin: 0 auto;
		border: 10px solid #f5f5f5;
	}
	.l_fresh_vegetables_grid:nth-child(2) {
		margin: 2em auto;
	}
	.l_fresh_vegetables_grid_right {
		margin: 2em 0 0;
	}
	.l_fresh_vegetables_grid1_bottom img, .l_fresh_vegetables_grid1 img {
		margin: 0 auto;
	}
	.agile_newsletter_left {
		width: 32%;
		text-align: left;
	}
	.agile_newsletter_right {
		width: 63%;
	}
	.agile_newsletter_right input[type="submit"] {
		width: 27.7%;
	}
	.agile_newsletter_right input[type="email"] {
		width: 72%;
	}
	.footer_grid {
		padding-left: 1em;
		float: left;
		width: 50%;
	}
	.footer_grid:nth-child(2) {
		margin-bottom: 7em;
	}
	.agile_footer_grids_footer {
		margin: 0 !important;
	}
	.agile_footer_grids {
		padding: 2em 0 0;
	}
	.l_banner_nav_right_banner3_btml {
		padding-left: 1em;
		width: 55%;
		margin: 0 auto;
	}
	.view p {
		font-size: 14px;
		padding: 10px 35px 0px;
	}
	.view h4 {
		margin: 5em 0 0;
	}
	.ls_l_banner_left {
		padding-left: 1em;
		float: left;
		width: 50%;
	}
	.ls_l_banner_left:nth-child(3) {
		margin-bottom: 3em;
	}
	.ls_l_banner_left:nth-child(2) {
		margin-bottom: 3em;
	}
	.ls_l_banner_left_asd {
		margin-bottom: 0 !important;
	}
	.ls_l_banner_nav_right_grid_head_grid {
		padding-left: 1em;
		width: 55%;
		margin: 0 auto;
	}
	.ls_l_banner_nav_right_grid_head_grid:nth-child(2){
		margin:2em auto;
	}
	.ls_service_grid_right {
		margin: 2em 0 0;
	}
	.ls_service_grid_right_1 {
		padding-right: 1em;
		padding-left: 0;
		float: left;
		width: 33.33%;
	}
	.ls_service_grids1_right {
		padding-right: 1em;
		margin: 2em 0 0;
	}
	.about_counter_left {
		float: left;
		width: 25%;
	}
	.about_counter_left i {
		width: 75px;
		height: 75px;
		padding-top: 1em;
	}
	.about_counter_left p {
		font-size: 2em;
	}
	.about_counter_left h3 {
		font-size: 1.2em;
	}
	.services-bottom {
		min-height: 260px;
	}
	.wthree_news_top_serv_btm_grid {
		float: left;
		width: 33.33%;
	}
	.wthree_news_top_serv_btm_grid h3 {
		font-size: 1.1em;
	}
	.agileinfo_single_left {
		width: 50%;
		margin: 0 auto 2em;
	}
	.agileinfo_single h5 {
		font-size: 1.5em;
	}
	p.animi {
		margin: 3em 0 0;
	}
	.agile_about_grids {
		margin: 2em 0 0;
	}
	.agile_about_grid_left {
		margin: 2em 0 0;
	}
	.agileits_team_grid {
		float: left;
		width: 50%;
	}
	.agileits_team_grid:nth-child(2) {
		margin-bottom: 2em;
	}
	.testimonials_grid {
		padding: 0 1em;
		float: left;
		width: 50%;
	}
	.agile_event_grid_right {
		float: right;
		width: 80%;
	}
	.agile_event_grid_left {
		height: 117px;
		float: left;
		width: 20%;
	}
	.agile_event_grid_left i {
		padding-top: 1em;
	}
	.agile_event_grid:nth-child(2) {
		margin: 3em 0 0;
	}
	.events_bottom_left1 {
		float: left;
		width: 30%;
	}
	.events_bottom_left2 {
		float: right;
		width: 70%;
	}
	.events_bottom_left1_grid {
		width: 125px;
		height: 115px;
	}
	.events_bottom_left1_grid h4 {
		padding: 1em 0;
	}
	.events_bottom_left:nth-child(2) {
		margin: 2em 0 0;
	}
	.agileinfo_mail_grid_left {
		width: 50%;
		margin: 0 auto 2em;
	}
	.agileinfo_mail_grid_left ul li:first-child {
		padding-right: 2em;
	}
	.agileinfo_mail_grid_left ul li:last-child {
		padding-left: 2em;
	}
	.agileinfo_mail_grid_right input[type="email"] {
		margin: 1em 0;
	}
	.agileinfo_mail_grid_right textarea {
		width: 95.5% !important;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 46.3%;
	}
	.l_panel_group_faq {
		margin: 1em 0 0;
	}
	.snipcart-details input.button {
		font-size: 14px;
	}
	.checkout-left-basket {
		float: left;
		width: 100%;
		margin-bottom: 2em;
	}
	.address_form_agile {
		float: right;
		width: 100%;
	}
	.checkout-right h4, .address_form_agile h4 {
      font-size: 1.2em;
	}
}
@media (max-width:800px){
	.l_offers a {
		padding: .6em 2em;
	}
	.l_search {
		width: 42%;
	}
	.l_offers a {
		padding: .6em 1em;
		font-size: .9em;
	}
	.l_search {
		width: 25%;
		margin: .1em 0 0em 1em;
	}
	.l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 0px 5px #FA1818;
		width: 18%;
	}
	.l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 0px 5px #84C639;
	}
	.l_search input[type="text"] {
		width: 82%;
	}
	.product_list_header {
		margin-left: 1.5em;
	}
	.l_header_right {
		padding-left:2em;
	}
	.l_offers a {
		padding: .75em 1em;
		font-size: 1em;
	}
	.l_header_right1 h2 a {
		font-size: .6em;
		padding:.75em 1em;
	}
	.ls_logo_products_left h1 a {
		font-size: 1em;
		background: url(../images/img-sp.png) no-repeat 28px -17px;
		height: 74px;
	}
	.ls_logo_products_left1 {
		margin-top: 1.6em;
	}
	.navbar-nav > li > a {
		padding: 10px 0px 10px 15px;
	}
	.ls_vegetables_menu {
		left: 10%;
		min-width: 135px;
	}
	.l_banner_nav_right_banner1, .l_banner_nav_right_banner, .l_banner_nav_right_banner2 {
		min-height: 315px;
		padding: 5em 4em 0 0;
	}
	.more {
		margin-left: 30.5em;
	}
	.more a {
		padding: 7px 30px;
	}
	.l_banner_nav_right_banner2 {
		background-position:-60px 0px;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 2em;
	}
	.wthree_banner_btm_pos h3 {
		font-size: 1.1em;
	}
	.agile_newsletter_left {
		width: 100%;
		text-align: center;
		float: none;
		margin-bottom: 2em;
	}
	.agile_newsletter_right {
		width: 70%;
		float: none;
		margin: 0 auto;
	}
	.container {
		width: 765px;
	}
	.modal-dialog {
		width: 710px;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		font-size: 1.4em;
		width: 65%;
		margin-left: 5em;
	}
	.l_banner_nav_right_banner3_btml {
		width: 68%;
	}
	.hover14.column {
		width: 100%;
	}
	.ls_l_banner_nav_right_grid_head_grid {
		width: 70%;
	}
	.l_banner_nav_right_banner7 {
		background-position: -140px 0px;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .login {
		padding: 3em 2em;
	}
	.l_banner_nav_right_banner_pet a, .ls_service_grids1_right a {
		padding: 10px 40px;
		font-size: 14px;
	}
	.banner_bottom, .top-brands, .fresh-vegetables, .l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .ls_l_banner_nav_right_grid_sub {
		padding: 3em 0 !important;
	}
	.agileinfo_single_left {
		width: 75%;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 46%;
	}
}
@media (max-width: 768px){
	.product_list_header {
		margin-left: 1em;
	}
	.l_header_right {
		padding-left: 1.5em;
	}
	#PPMiniCart {
		left: 39% !important;
	}
	.container {
		width: 750px;
	}
	.ls_logo_products_left1:nth-child(3) {
		margin-left: 1em;
		float: none;
		width: 100%;
		margin: 6em 0 1em;
		text-align: center;
	}
	.ls_logo_products_left {
		margin-right: 0;
	}
	.ls_logo_products_left1 {
		float: right;
	}
	.ls_logo_products_left h1 a {
		font-size: 1.2em;
		background: url(../images/img-sp.png) no-repeat 38px -8px;
		height: 85px;
	}
	ul.dropdown-menu.drp-mnu {
		top: 130%;
	}
	.more {
		margin-left: 26.5em;
		width: 30%;
	}
	.wthree_banner_bottom_left {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.wthree_banner_bottom_left:nth-child(2) {
		margin: 2em auto;
	}
	.wthree_banner_btm_pos h3 {
		font-size: 1.3em;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 8em;
	}
	.wthree_banner_btm_pos1 {
		top: 55%;
	}
	.l_fresh_vegetables_grid {
		width: 56%;
	}
	.ls_vegetables_menu {
		left: 5%;
	}
	.view h4 {
		margin: 4.5em 0 0;
	}
	.ls_logo_products_left1 ul.special_items li i {
		padding: 0 1.5em;
	}
	.wthree_news_top_serv_btm_grid_icon i {
		font-size: 2em;
	}
	.wthree_news_top_serv_btm_grid {
		padding-left: 0;
	}
	.events_bottom_left1_grid {
		width: 120px;
	}
	.agileinfo_mail_grid_left {
		width: 75%;
	}
	.agileinfo_mail_grid_right textarea {
		width: 94% !important;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 45%;
	}
}
@media (max-width: 767px){
	.l_banner_nav_left {
		float: none;
		width: 100%;
		background: #f5f5f5;
		text-align: center;
	}
	.navbar-toggle {
		float: none;
		margin: .55em 0 0;
		border: 1px solid #212121;
	}
	.navbar-toggle .icon-bar {
		border: 1px solid #212121;
	}
	.l_banner_nav_right {
		float: none;
		width: 100%;
	}
	.navbar-nav {
		border-top: none;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #fff;
		text-align: center;
	}
	.ls_vegetables_menu {
		left: auto;
		float: none;
		min-width: 100%;
		text-align: center;
	}
	.l_banner_nav_right_banner2 {
		background-position: 0px 0px;
	}
	.more {
		margin-left: 34.5em;
	}
}
@media (max-width: 736px){
	.l_search {
		width: 50%;
		margin: .1em 0 1em 10em;
	}
	.l_header_right {
		padding-left: 6.5em;
	}
	.l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 10px 5px #FA1818;
	}
	.l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 10px 5px #84C639;
	}
	.logo_products {
		padding: 8em 0 1em;
	}
	.container {
		width: 710px;
	}
	.modal-dialog {
		width: 650px;
		margin: 130px auto 30px;
	}
	.more {
		margin-left: 33.5em;
	}
	.agile_newsletter_right {
		width: 80%;
	}
	#PPMiniCart {
		top: 140px !important;
	}
	#PPMiniCart form {
		max-height: 185px !important;
	}
}
@media (max-width: 667px){
	.l_search {
		width: 55%;
		margin: .1em 0 1em 5.8em;
	}
	.container {
		width: auto;
	}
	.more {
		margin-left: 29.5em;
	}
	.footer {
		padding: 3em 0;
	}
	.wthree_footer_copy {
		margin: 3em 0 0;
		padding: 2.5em 0 0;
	}
	#PPMiniCart {
		left: 36% !important;
	}
	#PPMiniCart form {
		max-height: 165px !important;
	}
}
@media (max-width: 640px){
	#PPMiniCart form {
		max-height: 400px !important;
	}
	.fixed {
		position: relative;
	}
	.l_search {
		margin: .1em 0 1em 5em;
	}
	.l_header_right {
		padding-left: 4.5em;
	}
	.logo_products {
		padding: 2em 0 1em;
	}
	ul.dropdown-menu.drp-mnu {
		top: 100%;
	}
	.more {
		margin-left: 28em;
	}
	.wthree_banner_bottom_left {
		width: 75%;
	}
	.modal-dialog {
		width: 600px;
	}
	.l_fresh_vegetables_grid {
		width: 70%;
	}
	.agile_newsletter_right {
		width: 90%;
	}
	.l_banner_nav_right_banner3, .l_banner_nav_right_banner4, .l_banner_nav_right_banner5, .l_banner_nav_right_banner6, .l_banner_nav_right_banner7, .l_banner_nav_right_banner8, .l_banner_nav_right_banner9, .l_banner_nav_right_banner10 {
		min-height: 190px;
		padding-top: 4.5em;
	}
	.ls_l_banner_nav_right_grid {
		padding: 0 1em 3em;
	}
	.ls_l_banner_nav_right_grid_sub {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
	.l_banner_nav_right_banner7 {
		background-position: -105px 0px;
	}
	.l_banner_nav_right_banner_pet {
		padding: 2em 0 0 2em !important;
	}
	.l_banner_nav_right_banner9 {
		background-position: -95px 0px;
	}
	.ls_service_grid_left {
		padding: 0;
	}
	.about_counter_left h3 {
		font-size: 1em;
	}
	.about_counter_left p {
		font-size: 1.8em;
	}
	.wthree_news_top_serv_btm_grid {
		padding-left: 1em;
		float: none;
		width: 100%;
	}
	.wthree_news_top_serv_btm_grid:nth-child(2) {
		margin: 2em 0;
	}
	.wthree_news_top_serv_btm_grid h3 {
		margin: 1em 0 1em;
	}
	.map iframe {
		min-height: 250px;
	}
	.agileinfo_mail_grid_left {
		width: 100%;
	}
	.agileinfo_mail_grid_right,.wthree_contact_left_grid {
		padding: 0;
	}
	.agileinfo_mail_grid_right textarea {
		width: 100% !important;
		margin: 1em 0em;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 46.7%;
	}
	.value-minus, .value-plus {
		height: 17px;
		width: 17px;
	}
	.value {
		width: 17px;
		height: 17px;
		line-height: 0px;
	}
	.timetable_sub th, .timetable_sub td {
		padding: 7px 0px;
	}
	.timetable_sub th, .timetable_sub td {
		width: 50px;
		    font-size: 12px;
	}
	button.submit.check_out {
		display: block;
		position: relative;
		padding: 11px 14px;
		letter-spacing: 1px;
		font-size: 0.9em;
	}
}
@media (max-width: 600px){
	.l_search {
		margin: .1em 0 1em 3.9em;
	}
	.ls_logo_products_left1 ul.special_items li i {
		padding: 0 1em;
	}
	.modal-dialog {
		width: 535px;
	}
	.more {
		margin-left: 26em;
	}
	.wthree_banner_bottom_left {
		width: 82%;
	}
	.top_brand_left:nth-child(2) {
		margin: 0 0 2em;
	}
	#PPMiniCart form {
		width: 506px !important;
	}
	#PPMiniCart {
		left: 41% !important;
	}
	#PPMiniCart ul {
		width: 464px !important;
	}
	#PPMiniCart form {
		max-height: 210px !important;
	}
}
@media (max-width: 568px){
	.l_search {
		margin: .1em 0 1em 2.9em;
	}
	.more {
		margin-left: 24.5em;
	}
	.snipcart-details {
		width: 80%;
	}
	.agileinfo_marquee h4 {
		font-size: 1.1em;
	}
	.agile_newsletter_left h3 {
		margin: 0;
	}
	.newsletter {
		padding: 2em 0;
	}
	.agile_newsletter_right {
		width: 100%;
	}
	#PPMiniCart form {
		max-height: 100px !important;
	}
	.checkout-right h4, .address_form_agile h4 {
		font-size: 1em;
		line-height: 1.7em;
	}
	.checkout-left-basket h4 {
		padding: 0.9em;
		font-size: 1em;
	}
}
@media (max-width: 480px){
	#PPMiniCart form {
		max-height: 350px !important;
	}
	.l_search {
		margin: .1em 0 0.5em 1.7em;
		width: 51%;
	}
	.l_search input[type="text"] {
		font-size: 13px;
	}
	.l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 0px 3px #FA1818;
		padding: 8px 0 9.9px;
	}
	.l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 0px 3px #84C639;
	}
	.l_offers a {
		padding: .62em 1em;
	}
	.l_header_right1 h2 a {
		font-size: 14px;
	}
	.profile_details_drop a {
		padding-top: .5em;
	}
	.product_list_header span {
		top: .5em;
	}
	.modal-dialog {
		width: 468px;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 10px !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.8em;
	}
	.ls_logo_products_left h1 a {
		font-size: 1em;
		background: url(../images/img-sp.png) no-repeat 28px -18px;
		height: 75px;
	}
	.ls_logo_products_left1 ul.special_items li i {
		padding: 0 0.5em;
	}
	.ls_logo_products_left1:nth-child(3) {
		margin: 5.5em 0 1em;
	}
	.l_banner_nav_right_banner h3, .l_banner_nav_right_banner1 h3, .l_banner_nav_right_banner2 h3 {
		font-size: 1.5em;
	}
	.l_banner_nav_right_banner1, .l_banner_nav_right_banner, .l_banner_nav_right_banner2 {
		min-height: 240px;
		padding: 2.5em 3em 0 0;
		margin-bottom: 3em;
	}
	.more {
		margin-left: 18em;
		width: 40%;
	}
	.banner_bottom, .top-brands, .fresh-vegetables, .l_banner_nav_right_banner3_btm, .testimonials, .team, .newsletter-top-serv-btm, .ls_l_banner_nav_right_grid_sub {
		padding: 2em 0 !important;
	}
	.wthree_banner_bottom_left {
		width: 90%;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .login h3, .ls_l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 1.8em;
	}
	.top_brand_left,.ls_l_banner_left {
		float: none;
		width: 70%;
		margin: 0 auto;
	}
	.top_brand_left:nth-child(2) {
		margin: 2em auto;
	}
	.top_brand_left:nth-child(3) {
		margin-bottom: 2em;
	}
	.l_fresh_vegetables_grid {
		width: 90%;
	}
	.agileinfo_breaking_news span {
		background: url(../images/img-sp.png) no-repeat 1px -103px;
		height: 65px;
	}
	.agileinfo_marquee {
		width: 85%;
	}
	.agileinfo_marquee h4 {
		font-size: 1em;
	}
	.agile_newsletter_right input[type="submit"] {
		width: 31.7%;
	}
	.agile_newsletter_right input[type="email"] {
		width: 68%;
	}
	.footer {
		padding: 2em 0;
	}
	.footer_grid {
		float: none;
		width: 100%;
	}
	.footer_grid h3 {
		font-size: 1.1em;
		margin-bottom: 1em;
	}
	.footer_grid:nth-child(2) {
		margin: 3em 0;
	}
	.footer_grid:nth-child(4) {
		margin: 3em 0 0;
	}
	.agile_footer_grids_footer:nth-child(1) {
		margin-bottom: 2em !important;
	}
	.wthree_footer_copy {
		margin: 2em 0 0;
		padding: 1.5em 0 0;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		font-size: 1.2em;
		width: 75%;
		margin-left: 3em;
	}
	.l_banner_nav_right_banner3 span, .l_banner_nav_right_banner4 span, .l_banner_nav_right_banner5 span, .l_banner_nav_right_banner6 span, .l_banner_nav_right_banner7 span, .l_banner_nav_right_banner8 span, .l_banner_nav_right_banner9 span, .l_banner_nav_right_banner10 span {
		top: -85%;
	}
	.l_banner_nav_right_banner3_btml {
		width: 90%;
	}
	.ls_l_banner_left:nth-child(2) {
		margin-bottom: 2em;
	}
	.ls_l_banner_left:nth-child(3){
		margin:0 auto;
	}
	.ls_l_banner_left:nth-child(4){
		margin:2em auto;
	}
	.ls_l_banner_nav_right_grid_sub {
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
	.ls_l_banner_nav_right_grid1 {
		margin: 2em 0 0;
	}
	.ls_l_banner_left_asdfdfd {
		margin-bottom: 2em;
	}
	.ls_l_banner_nav_right_grid1_veg {
		margin: 0 !important;
	}
	.ls_l_banner_nav_right_grid_veg {
		padding: 0 1em !important;
	}
	.ls_l_banner_nav_right_grid_head h6 {
		font-size: 1.3em;
	}
	.ls_l_banner_nav_right_grid_head_grid {
		width: 100%;
	}
	.ls_l_banner_nav_right_grid_head_grids {
		margin: 2em 0 0;
	}
	.ls_l_banner_nav_right_grid {
		padding: 0 1em 2em;
	}
	.typo, .privacy, .faq, .services, .events, .mail, .agileinfo_single, .login {
		padding: 2em 1em;
	}
	.l_fruit {
		margin-bottom: 1.5em !important;
	}
	.agileinfo_single h5 {
		font-size: 1.3em;
	}
	.agileinfo_single_right {
		padding-left: 1em;
	}
	.about_counter_left {
		width: 50%;
	}
	.about_counter_left:nth-child(2) {
		margin-bottom: 2em;
	}
	.ls_service_grids1_right ul {
		padding-bottom: 1em;
	}
	.ls_service_grids1_right a {
		margin-bottom: 1em;
		display: block;
		width: 40%;
		text-align: center;
	}
	.ls_l_banner_nav_right_grid_popular {
		padding: 2em 0 !important;
	}
	.privacy1 h3 {
		font-size: 1.3em;
	}
	.privacy1-grid ul {
		padding: 0 1em 1em;
	}
	.privacy1-grid ul li {
		display: block;
		text-align: center;
	}
	.privacy1-grid ul li:nth-child(1) {
		margin-right: 0;
	}
	.privacy1-grid ul li:nth-child(2) {
		width: 100%;
	}
	.privacy2-grid1 h4 {
		font-size: 1.2em;
	}
	.privacy2-grid1 {
		padding: 0 1em;
	}
	.privacy2-grid1 h5 {
		font-size: 1.1em;
	}
	.testimonials_grid {
		float: none;
		width: 100%;
	}
	.privacy1-grid, .privacy2-grid {
		margin: 2em 0 0;
	}
	.panel-title > a {
		line-height: 1.8em;
	}
	.panel-heading {
		padding: 20px 15px;
	}
	.agile_event_grid_right h4 {
		font-size: 1em;
	}
	.agile_event_grid_left {
		height: 115px;
	}
	.events-bottom {
		padding: 3em 0 0;
	}
	.events_bottom_left {
		padding: 0;
	}
	.events_bottom_left1_grid {
		width: 98px;
	}
	.agileinfo_mail_grid_left ul li {
		font-size: .9em;
	}
	.form-module .toggle .tooltip {
		display: none;
	}
	.login {
		padding-bottom: 0;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 49.5%;
		margin: 0;
	}
	.product_list_header input.button {
		margin: 0;
		padding: .3em 2.5em .3em 1em;
		background: url(../images/cart.png) no-repeat 116px 5px;
	}
	#PPMiniCart form {
		width: 400px !important;
	}
	#PPMiniCart ul {
		width: 358px !important;
	}
	#PPMiniCart {
		left: 51% !important;
	}
}
@media (max-width: 414px){
	.l_offers a {
		padding: .62em .5em;
	}
	.l_search {
		margin: .1em 0 0.5em 0.7em;
	}
	.l_search input[type="submit"] {
		width: 18%;
	}
	.l_search input[type="text"] {
		width: 82%;
	}
	.ls_logo_products_left1 {
		float: none;
		text-align: center;
		margin-top: 1em;
	}
	.ls_logo_products_left {
		float: none;
		text-align: center;
		width: 31%;
		margin: 0 auto;
	}
	.ls_logo_products_left1:nth-child(3) {
		margin: 0.5em 0 1em;
	}

	.more a {
		font-size: 13px;
	}
	.more {
		margin-left: 15em;
	}
	.l_banner_nav_right_banner2 {
		background-position: -145px 0px;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 7em;
	}
	.wthree_banner_btm_pos1 h3 {
		font-size: 1.4em;
	}
	.agile_top_brands_grids {
		margin: 2em 0 0;
	}
	.top_brand_left, .ls_l_banner_left {
		width: 80%;
	}
	.modal-dialog {
		width: 390px;
	}
	.agile_newsletter_right input[type="submit"] {
		width: 37.7%;
	}
	.agile_newsletter_right input[type="email"] {
		width: 62%;
	}
	.l_banner_nav_right_banner3, .l_banner_nav_right_banner4, .l_banner_nav_right_banner5, .l_banner_nav_right_banner6, .l_banner_nav_right_banner7, .l_banner_nav_right_banner8, .l_banner_nav_right_banner9, .l_banner_nav_right_banner10 {
		min-height: 155px;
		padding-top: 3.7em;
	}
	.view p {
		font-size: 13px;
	}
	.view h4 {
		margin: 4em 0 0;
	}
	.ls_l_banner_nav_right_grid1 h6 {
		font-size: 1.3em;
		text-align: center;
	}
	.l_banner_nav_right_banner9 h4 {
		font-size: 1.2em;
	}
	.l_banner_nav_right_banner_pet p {
		margin: 0 0 1em;
	}
	.l_banner_nav_right_banner_pet a, .ls_service_grids1_right a {
		padding: 10px 30px;
	}
	.ls_service_grids1_right ul li {
		line-height: 1.8em;
	}
	.ls_service_grids1_right a {
		width: 45%;
	}
	.agileinfo_single h5 {
		font-size: 1.2em;
	}
	.agileinfo_single_right_details {
		width: 45% !important;
	}
	.privacy2-grid1 {
		padding: 0;
	}
	.privacy2-grid1 h5 {
		font-size: 1em;
	}
	.agileits_team_grid {
		float: none;
		width: 100%;
	}
	.agileits_team_grid:nth-child(2) {
		margin: 2em 0;
	}
	.agileits_team_grid:nth-child(3) {
		margin-bottom: 2em;
	}
	.agile_event_grid {
		padding: 0;
	}
	.agile_event_grid_right {
		padding-left: 1em;
	}
	.agile_event_grid_right h4 {
		font-size: .9em;
	}
	.agile_event_grid_left {
		height: 140px;
	}
	.agile_event_grid_left i {
		padding-top: 1.5em;
	}
	.events_bottom_left1 {
		padding-left: 0;
	}
	.events_bottom_left1_grid {
		width: 95px;
	}
	.form-module .form {
		padding: 20px;
	}
	.login_module {
		min-height: 433px;
	}
	.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 100%;
		margin: 0;
	}
	.agileinfo_mail_grid_right input[type="submit"]{
		margin-bottom:1em;
	}
	#PPMiniCart form {
		width: 360px !important;
	}
	#PPMiniCart ul {
		width: 318px !important;
	}
	#PPMiniCart {
		left: 55% !important;
	}
}
@media (max-width: 384px){
	.l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 17px 3px #84C639;
	}
	.l_offers {
		float: none;
		text-align: center;
	}
	.l_search {
		margin: .1em 0;
		float: none;
		width: 100%;
	}
	.l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 17px 3px #FA1818;
		padding: 8px 0 8.9px;
	}
	.more {
		margin-left: 13em;
		width: 42%;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 6em;
	}
	.top_brand_left, .ls_l_banner_left {
		width: 90%;
	}
	.agileinfo_breaking_news {
		width: 20%;
	}
	.agileinfo_marquee {
		width: 75%;
	}
	.view h4 {
		margin: 2.5em 0 0;
	}
	.modal-dialog {
		width: 290px;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 3px !important;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.8em;
	}
	input.my-product-quantity {
		width: 40px !important;
	}
	table.table {
		width: 100%;
	}
	.product_list_header {
		margin-left: .3em;
	}
	.l_header_right {
		padding-left: 3.5em;
	}
	#PPMiniCart form {
		width: 300px !important;
		padding: 10px 10px 40px !important;
	}
	#PPMiniCart ul {
		width: 278px !important;
	}
	#PPMiniCart .minicart-remove {
		width: 11px !important;
		height: 11px !important;
		line-height: 0;
		margin: 3px 0 0 !important;
	}
	#PPMiniCart {
		left: 64% !important;
	}
	#PPMiniCart .minicart-item a {
		font-size: 13px;
	}
	#PPMiniCart .minicart-attributes li {
		font-size: 12px;
	}
	span.minicart-price {
		font-size: 12px;
	}
	#PPMiniCart .minicart-quantity {
		font-size: 11px;
	}
}
@media (max-width: 375px){
	.wthree_banner_btm_pos h3 span {
		padding-left: 5em;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		width: 86%;
		margin-left: 1em;
	}
	.view p {
		padding: 10px 10px 0px;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .login h3, .ls_l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 1.6em;
	}
	.ls_service_grids {
		margin: 3em 0 0;
	}
	.ls_service_grid_right_1 {
		padding-left: 1em;
		float: none;
		width: 100%;
		margin-bottom: 1em;
	}
	.ls_service_grids1_right {
		padding: 0;
	}
	.agileinfo_single h5 {
		font-size: 1em;
	}
	.agileinfo_single_left {
		width: 90%;
	}
	.agileinfo_single_right {
		padding: 0;
	}
	p.animi,.testimonials_grids {
		margin: 2em 0 0;
	}
	.events_bottom_left1_grid {
		width: 85px;
	}
	.form-module .cta {
		padding: 10px 0px;
	}
	.form-module .cta a {
		font-size: 14px;
	}
	.map iframe {
		min-height: 200px;
	}
	.ls_logo_products_left {
		width: 36%;
	}
}
@media (max-width: 320px){
	.agileits_social_icons li a i {
		padding: .9em 0 0;
	}
	ul li, ol li {
		font-size: 13px;
	}
	.ls_logo_products_left {
		width: 42%;
	}
	.l_search input[type="submit"] {
		background: url(../images/img-sp.png) no-repeat 11px 3px #FA1818;
	}
	.l_search input[type="submit"]:hover {
		background: url(../images/img-sp.png) no-repeat 11px 3px #84C639;
	}
	.l_banner_nav_right_banner1, .l_banner_nav_right_banner, .l_banner_nav_right_banner2 {
		min-height: 190px;
		padding: 2em 3em 0 0;
	}
	.more {
		margin-left: 10em;
		width: 50%;
	}
	.wthree_banner_bottom_left {
		width: 100%;
	}
	.wthree_banner_bottom_left_grid_pos h4 {
		font-size: 1.1em;
	}
	.wthree_banner_bottom_left_grid_pos h4 span {
		width: 50px;
		height: 50px;
		padding-top: .9em;
	}
	.wthree_banner_btm_pos h3 span {
		padding-left: 6em;
	}
	.wthree_banner_btm_pos h3 {
		font-size: 1.1em;
	}
	.top_brand_left, .ls_l_banner_left {
		width: 100%;
	}
	.agile_top_brand_left_grid1 p,.agileinfo_mail_grid_right input[type="text"], .agileinfo_mail_grid_right input[type="email"], .agileinfo_mail_grid_right textarea,.agile_event_grid_right p,.agileits_team_grid p,p.animi,.testimonials_grid p,.wthree_news_top_serv_btm_grid p,.privacy1-grid ul li span,.ls_service_grid_left p, .privacy2-grid1 p,.l_fresh_vegetables_grid ul li a,.wthree_footer_copy p,.l_banner_nav_right_banner_pet p {
		font-size: 13px;
	}
	.privacy1-grid ul li span {
		margin: 1em 0 0;
	}
	.agile_event_grid_left {
		height: 156px;
		padding-left: 0;
		text-align: center;
	}
	.agile_event_grid_right h4 {
		font-size: .94em;
	}
	.wthree_news_top_serv_btm_grid h3 {
		margin: 1em 0 .5em;
	}
	.ls_service_grid_right {
		margin: 1em 0 0;
		padding: 0;
	}
	.ls_service_grids1_right a {
		width: 55%;
	}
	.privacy2-grid1 h4 {
		font-size: 1em;
	}
	.privacy2-grid1 h5 {
		line-height: 1.5em;
	}
	.privacy2-grid1-sub {
		margin: 1.5em 0 0;
	}
	.agileinfo_single_right_snipcart {
		margin: 0 0 1em;
	}
	.agileinfo_single_right_details {
		width: 55% !important;
	}
	.agile_newsletter_left {
		margin-bottom: 1.5em;
	}
	.agile_description p {
		font-size: 13px;
		width: 100%;
	}
	.agile_description {
		margin: 2em 0 1em;
	}
	.privacy1-grid ul li {
		font-size: 1.1em;
	}
	.l_banner_nav_right_banner_pet a, .ls_service_grids1_right a {
		padding: 7px 30px;
		font-size: 13px;
	}
	.l_fresh_vegetables_grid {
		width: 100%;
	}
	.l_fresh_vegetables_grid2 {
		padding: 1em 0 0;
	}
	.l_fresh_vegetables_grids {
		margin: 2em 0 0;
	}
	.l_fresh_vegetables_grid1_bottom_pos h5 {
		font-size: 1em;
		width: 80px;
		height: 80px;
		padding: 1.2em 0 0;
	}
	.agile_newsletter_right input[type="email"] {
		width: 100%;
		float: none;
		margin-bottom: 1em;
		font-size: 13px;
	}
	.agile_newsletter_right input[type="submit"] {
		width: 55%;
		font-size: 13px;
		padding: 9px 0;
	}
	.l_banner_nav_right_banner3 h3, .l_banner_nav_right_banner4 h3, .l_banner_nav_right_banner5 h3, .l_banner_nav_right_banner6 h3, .l_banner_nav_right_banner7 h3, .l_banner_nav_right_banner8 h3, .l_banner_nav_right_banner9 h3, .l_banner_nav_right_banner10 h3 {
		font-size: 1.1em;
	}
	.l_banner_nav_right_banner3 span, .l_banner_nav_right_banner4 span, .l_banner_nav_right_banner5 span, .l_banner_nav_right_banner6 span, .l_banner_nav_right_banner7 span, .l_banner_nav_right_banner8 span, .l_banner_nav_right_banner9 span, .l_banner_nav_right_banner10 span {
		top: -125%;
	}
	.l_banner_nav_right_banner3, .l_banner_nav_right_banner4, .l_banner_nav_right_banner5, .l_banner_nav_right_banner6, .l_banner_nav_right_banner7, .l_banner_nav_right_banner8, .l_banner_nav_right_banner9, .l_banner_nav_right_banner10 {
		min-height: 125px;
		padding-top: 2.7em;
	}
	.l_banner_nav_right_banner3_btml {
		width: 100%;
	}
	.l_banner_nav_right_banner3_btml ol {
		margin-bottom: 30px;
	}
	.ls_l_banner_nav_right_grid_head h6 {
		font-size: 1.2em;
	}
	.ls_l_banner_nav_right_grid_head_grid,.agile_about_grid_right,.agile_about_grid_left{
		padding: 0;
	}
	.agile_about_grid_left ol {
		padding-left: 15px;
	}
	.top-brands h3, .fresh-vegetables h3, .mail h3, .testimonials h3, .login h3, .ls_l_banner_nav_right_grid h3, h3.title, .faq h3, .services h3, .about h3, .team h3, .events h3 {
		font-size: 1.49em;
	}
	.agileits_team_grids {
		margin: 2em 0 0;
	}
	.agileits_team_grid h4 {
		font-size: 1em;
	}
	.agile_about_grids {
		margin: 1em 0 0;
	}
	.panel-body {
		padding: 1em;
		font-size: 13px;
	}
	.privacy1 h3 {
		font-size: 1.1em;
	}
	.products-breadcrumb ul li span {
		padding: 0 1em;
	}
	.l_banner_nav_right_banner2 {
		background-position: -125px 0px;
	}
	.l_banner_nav_right_banner_pet {
		padding: 1em 0 0 1em !important;
	}
	.l_banner_nav_right_banner9 h4 {
		font-size: 1.1em;
	}
	.ls_service_grid_left h4 {
		font-size: 1em;
	}
	.ls_service_grids {
		margin: 2em 0 0;
	}
	.about_counter_left i {
		width: 55px;
		height: 55px;
		padding-top: 1em;
		font-size: 1.1em;
	}
	.about_counter_left p {
		font-size: 1.5em;
	}
	.about_counter_left h3 {
		font-size: 14px;
	}
	.services-bottom {
		padding: 2em 0;
	}
	.wthree_news_top_serv_btm_grid,.testimonials_grid {
		padding: 0;
	}
	.wthree_news_top_serv_btm_grid_icon i {
		font-size: 1.5em;
	}
	.testimonials_grid p i {
		padding: 0 2em 0.5em 0;
	}
	.testimonials_grid h4 {
		font-size: .9em;
		margin: 1em 0 0;
	}
	.agile_event_grid_left i {
		padding-top: 2.5em;
		font-size: 1.5em;
	}
	.events_bottom_left1 {
		padding-right: .5em;
	}
	.events_bottom_left1_grid {
		width: 73px;
		height: 86px;
	}
	.events_bottom_left1_grid h4 {
		padding: .5em 0;
	}
	.events_bottom_left1_grid p {
		font-size: 12px;
	}
	.events_bottom_left2 h4 {
		font-size: .9em;
		margin: .5em 0;
	}
	.events_bottom_left2 p {
		font-size: 13px;
		margin: 1em 0 0;
	}
	ul.dropdown-menu.drp-mnu {
		min-width: 90px;
		padding: 1em 0;
	}
	.l_header_right {
		padding-left:1.5em;
	}
	#PPMiniCart form {
		width: 285px !important;
	}
	#PPMiniCart ul {
		width: 263px !important;
	}
	#PPMiniCart {
		left: 69% !important;
	}
	#PPMiniCart .minicart-subtotal {
		padding-left: 5px !important;
		font-size: 13px !important;
	}
	.snipcart-details input.button {
		font-size: 13px;
	}
	.ls_l_banner_nav_right_grid1 h6 {
		font-size: 1.1em;
	}
	.form-module input[type="text"], .form-module input[type="password"], .form-module input[type="email"] {
		margin: 0 0 10px;
		padding: 10px;
		font-size: 13px;
	}
	.login_module {
		min-height: 375px;
	}
	.form-module {
		margin: 2em auto 0;
	}
	.product_list_header input.button {
		padding: .3em 2.5em .3em 0.8em;
		background: url(../images/cart.png) no-repeat 105px 5px;
		font-size: 13px;
	}
}
